
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600;700&display=swap');

body{
    background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;

}
.scoreBoard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 1rem;
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 1rem;
    transition: .5s linear;
}
.pageTitle{
   font-weight: 600; 
   font-size: 2rem;
}
.score{
    padding: 1rem 1.5rem;
    background-color: #ffffff;
    text-align: center;
    border-radius: 5px;
}
.scoreTitle{
    font-weight: 700;
    color: hsl(229, 64%, 46%);
    font-size: .7rem;
    letter-spacing: 2px;
}
.scoreNumber{
    margin-top: .2rem;
    font-weight: 700;
    color: hsl(229, 25%, 31%);
    font-size: 3rem;
}
main{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    padding-bottom: 1rem;
}
.gameBtns{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./assets/bg-triangle.svg);
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-size: 24rem;
}
.btnWrapper{
    display: flex;
    gap: 5rem;
  
}
.circle{
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    padding: 1.5rem;
    background-image: radial-gradient(hsl(230, 89%, 62%) , hsl(230, 89%, 65%));
    box-shadow: 0 8px 0px hsl(230, 79%, 54%);
    cursor: pointer;
    transition: .2s linear;
}
.paper {
    
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    padding: 2rem;
    background-image: url(./assets/icon-paper.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    background-color: white;
    box-shadow: inset 0px 8px 0px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: .5s linear;
}

.scissors {
    position: relative;
    top: 50;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    padding: 2rem;
    background-image: url(./assets/icon-scissors.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    background-color: white;
    box-shadow: inset 0px 8px 0px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: .5s linear;
}
.circleScissors{
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    padding: 1.5rem;
    background-image: radial-gradient(hsl(39, 89%, 49%) , hsl(40, 84%, 53%));
    box-shadow: 0 8px 0px hsl(39, 85%, 33%);
    cursor: pointer;
}
.rock {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    padding: 2rem;
    background-image: url(./assets/icon-rock.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    background-color: white;
    box-shadow: inset 0px 8px 0px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: .5s linear;
}
.circleRock{
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    padding: 1.5rem;
    background-image: radial-gradient(hsl(349, 71%, 52%) , hsl(349, 70%, 56%));
    box-shadow: 0 8px 0px hsl(349, 66%, 46%);
    cursor: pointer;
    transition: .2s linear;

}
.circle:hover{
    box-shadow: 0 4px 0px hsl(230, 67%, 45%);
    transform: scale(1.01);

}
.circleScissors:hover{
    box-shadow: 0 4px 0px hsl(39, 89%, 49%);
    transform: scale(1.01);

}
.circleRock:hover{
    box-shadow: 0 4px 0px hsl(349, 66%, 46%);
    transform: scale(1.01);

}
    
.rules{
    align-self: end;
    letter-spacing: .2rem;
    padding: .5rem 2rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
}
.rules:hover{
    background-color: white;
    color: hsl(229, 25%, 31%);
    transition: .5s linear;
    cursor: pointer;
}